# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.log
*.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.pdb
*.dll
*.dylib

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Environment variables
.env
.env.*

# VSCode
.vscode/
.history/
*.code-workspace

# IDEs / Editors
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.junit/

# Docker
*.pid
*.seed
*.pid.lock

# Mypy / lint
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Profiling
.prof
